<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Output</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>ASCII Art Output</h1>
    <div class="pre-wrapper">
        <pre>{{.Output}}</pre>
    </div>
    <a href="/" class="go-back-button">Go Back</a>
</body>
</html>